
// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #362ec4;
$secondary: #8f5325;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

//custom color to be mapped
$accent : #da6d25;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
// add any additional color below
  accent: $accent,
// now bg-accent,btn-accent,etc.. can be called
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}


.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

#skills-section {
  margin-bottom: 20px;
}

.skills {
  font-size: 60px;
  color: black;
}

.employer-link {
  color: rgb(59, 56, 56);
  text-decoration: underline;
  margin-left: 5px;
}

.custom-ul {
  list-style: none;
  padding-left: 0px;
  text-align: left;
  font-family: "JetBrains Mono", monospace;
}

#timeline {
  display: flex;
  justify-content: center;
}
.family-photo{
  display: flex;
  justify-content: center;
}

#family {
  width: 100vw;
  height: 50vh;
  max-width: 500px;
  height: auto;
  margin: 40px;
}

.name-object {
  font-family: "Bebas Neue", cursive;
  margin: 10px;
  font-size: 80px;
}

.tagline-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 30px;
  text-align: left;
  font-family: "JetBrains Mono", monospace;
}

.intro-container{
  margin-top: 5em;
  margin-bottom: 5em;
}


.navbar-custom {
    background-color: lightgreen;
}

.footer {
  background-color: rgb(10, 4, 22);
  color: white;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
  position: fixed;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}