.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}


.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.footer {
  background-color: rgb(10, 4, 22);
  color: white;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-body {
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

#skills-section {
  margin-bottom: 20px;
}

.skills {
  font-size: 60px;
  color: black;
}

.employer-link {
  color: rgb(59, 56, 56);
  text-decoration: underline;
  margin-left: 5px;
}

.custom-ul {
  list-style: none;
  padding-left: 0px;
  text-align: left;
  font-family: "JetBrains Mono", monospace;
}

#timeline {
  display: flex;
  justify-content: center;
}
.family-photo{
  display: flex;
  justify-content: center;
}

#family {
  width: 100vw;
  height: 50vh;
  max-width: 500px;
  height: auto;
  margin: 40px;
}
